@{
    Layout= "_Layout";
}

<h1> Welcome to hair salon Data Base!</h1>
<p>@Html.ActionLink("See all Stylist", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all your Clients", "Index", "Clients")</p>